.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Mono', monospace;

    .loading {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        .pokeball {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        animation: rotation 0.5s infinite linear;
        }
    
    }
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}
