.pokeCard {
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25% auto 10%;
    position: relative;
    box-shadow: 2px 2px 10px #ccc;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
    background: #fff;
    display: flex;
    position: relative;
    
    img {
        height: 60%;
        width: 60%;
        margin-top: -35%;
    }

    h1 {
        margin-top: 5%;
        font-family: 'Acme', sans-serif;
    }

    span {
        font-weight: bold;
        font-size: 10;
        font-size: 1.2em;
    }

    .description {
        padding: 3%;
        font-size: 1.1em;
    }

    .tag {
        padding: 6px 12px;
        margin: 10px 5px;
        border-radius:20px;
        color: #fff;
    }
    
    .stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5% 0;

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }
    }

}
